.delete-icon {
    content: url("../images/trash-delete.svg");
    max-width: 10%;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
.register-headline {
    text-align: center;
    margin-bottom: 10px;
}
#cboxLoadedContent {
    margin-top: 0;
}