.webauthn-description {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register-section {
  .headline {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .description {
    padding-bottom: 10px;
  }
}

.webauthn-overview {
  &.description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.row {
  text-align: center;
  .webauthn-register-credentials {
    display: inline-block;
    margin-right: 10px;
  }

  .webauthn-login {
    display: inline-block;
  }
}

.credential {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #128a9e;
  word-wrap: break-word;
  height: 200px;
  position: relative;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.credential.selected {
  animation: highlight 3s 1;
}

@keyframes highlight {
  25%  {background: green}
  75%  {background: green}
}

.credential:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.credential-title {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.delete-icon:hover {
  cursor: pointer;
}

.webauthn-login-container {
  margin-left: 20px;
}